@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #fefcf7;
}
/* responsive hero screeen */
@media only screen and (min-width: 768px) {
  .hero-mobile {
    background-image: url("../public/assets/home/desktop/image-hero-coffeepress.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 768px) {
  .hero-mobile {
    background-image: url("../public/assets/home/tablet/image-hero-coffeepress.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 327px) {
  .hero-mobile {
    background-image: url("../public/assets/home/mobile/image-hero-coffeepress.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* end responsive hero screeen */
/* 
.word-collection {
  text-shadow: #fefcf7;
  background-color: linear-gradient(to bottom right, red, yellow);
  color: green;
  color: ;
  opacity: 50%;
  appearance: ;
} */

/* responsiveness for  collection */
@media only screen and (min-width: 768px) {
  .collection {
    background-image: url("../public/Group 13.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media only screen and (max-width: 768px) {
  .collection {
    background-image: url("../public/collection-tablet.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
